{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Chemp - Eliminar Usuario</title>
{% endblock%}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<div style="text-align: center; margin: 10%;">

    <h1>Eliminar Usuario</h1>
    <p>¿Esta seguro que desea eliminar este usuario?</p>
    <form action="" method="post" style="display: inline-block;">
        {% csrf_token %}
        <input class="btn btn-outline-secondary" type="submit" value="Eliminar" style="margin: 2px; display: inline-block;">
    </form>
    <a class="btn btn-outline-secondary" href="{% url 'apps.usuarios:listar_usuarios' %}" style="margin: 2px; display: inline-block;">Cancelar</a>
</div>
{% endblock %}