{% load static %}
<div>
    <div>
        <div style="text-align: center;">
            
            <form action="" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div>
                    <textarea name="texto" id="id_texto" cols="90" rows="2"></textarea>
                </div>
                {% if user.is_authenticated %}
                <input  type="submit" value="Opinar">
                {% else %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Opinar
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Error</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Usted tiene que registrarse y/o iniciar sesion para comentar.   
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-outline-secondary" href="{% url 'apps.usuarios:iniciar_sesion' %}" target="_blank">Iniciar Sesion</a>
                                <a class="btn btn-outline-secondary" href="{% url 'apps.usuarios:registrar' %}" target="_blank">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>{% endif %}