{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Chemp - Acerca De Nosotros</title>
{% endblock%}
{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}
{% block contenido %}
<h3 style="text-align: center; margin:2%; color: #185fbe;" >Acerca de Nosotros</h3>
<p style="text-align: center; margin: 10px;">Pienso que en el camino que recorremos para alcanzar un objetivo podemos crear herramientas que nos permitan hacerle el camino fácil a otros, y eso fue lo que hice. Mi camino es encontrar trabajo, pero decidí detenerme un momento y crear una herramienta, esta herramienta. Chemp fue desarrollada por mí para que la gente pueda, al igual que yo, lograr su objetivo de conseguir empleo. Pero, ¿por qué Chemp?, es sencillo
    <br>
    <br>
    <br> Ch por las primeras letras de mi provincia Chaco, ya que para los habitantes de esta fue que desarrolle este sitio web. 
    <br>
    <br> Emp por empleo, que es a dia de hoy lo que mucha gente busca y necesita. 
    <br>
    <br> Aparte, es facil de recordar por la mitica expresion argentina y la tipica pregunta de "¿Che, no tenes un laburito para mi?
    <br> 
    <br> ¡Buen viaje, exítos encontrando tu empleo y espero que sea en este lugar! 


</p>
{%endblock%}